<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Englebert' rel='stylesheet' type='text/css'>
    <title>NOTE_TAKEN</title>
    <style>
        * {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        ::-moz-selection {
            background: #c6ff91;
            text-shadow: none;
        }

        ::selection {
            background: #c6ff91;
            text-shadow: none;
        }

        .clearfix:before,
        .clearfix:after {
            content: " ";
            display: table;
        }

        .clearfix:after {
            clear: both;
        }

        .clearfix {
            *zoom: 1;
        }

        body {
            background: url(https://i.imgur.com/2BdQt0g.jpg);
            margin: 0;
            padding: 0;
        }

        .wrapper {
            margin: 60px auto 0 auto;
        }
        .note-wrap {
            width: 235px;
            min-height: 235px;
            padding: 35px;
            margin: 0 22px 44px 22px;
            position: relative;
            font-size: 24px;
            vertical-align: top;
            display: inline-block;
            font-family: Englebert, Arial;
            color: #4b453c;
            background: #f7e999;
            line-height: 34px;
            text-align: center;
            box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
        }

        .note-wrap:before {
            display: block;
            content: "";
            background: rgba(227, 200, 114, 0.40);
            width: 130px;
            height: 28px;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
            border-radius: 6px/18px 0;
            position: absolute;
            top: -13px;
            left: 50px;
            -webkit-transform: rotate(-2deg);
            -moz-transform: rotate(-2deg);
            -o-transform: rotate(-2deg);
            -ms-transform: rotate(-2deg);
            transform: rotate(-2deg);
        }

        .note-wrap a {
            color: #6b824f;
            text-decoration: none;
            font-size: 20px;
            -webkit-transition: all 0.4s ease;
            -moz-transition: all 0.4s ease;
            -o-transition: all 0.4s ease;
            -ms-transition: all 0.4s ease;
            transition: all 0.4s ease;
        }

        .note-wrap a:hover {
            color: #d83a25;
        }

        .note-yellow {
            background: #f7e999;
            -webkit-transform: rotate(2deg);
            -moz-transform: rotate(2deg);
            -o-transform: rotate(2deg);
            -ms-transform: rotate(2deg);
            transform: rotate(2deg);
        }

        .note-blue {
            background: #b9dcf4;
            -webkit-transform: rotate(-2deg);
            -moz-transform: rotate(-2deg);
            -o-transform: rotate(-2deg);
            -ms-transform: rotate(-2deg);
            transform: rotate(-2deg);
        }

        .note-pink {
            background: #ffbda3;
            -webkit-transform: rotate(1deg);
            -moz-transform: rotate(1deg);
            -o-transform: rotate(1deg);
            -ms-transform: rotate(1deg);
            transform: rotate(1deg);
        }

        .note-green {
            background: #caf4b9;
            -webkit-transform: rotate(-1deg);
            -moz-transform: rotate(-1deg);
            -o-transform: rotate(-1deg);
            -ms-transform: rotate(-1deg);
            transform: rotate(-1deg);
        }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">GSOC Note-Viewer</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#" >Notes</a>
            <!-- <a class="nav-item nav-link" href="/addnotes">Add Notes</a> -->
            <!-- <a class="nav-item nav-link" href="/signup">SignIn<span class="sr-only">(current)</span></a> -->
            <!-- <a class="nav-item nav-link disabled" href="/login">LogIn </a> -->
            <a class="nav-item nav-link " href="/logout">Logout </a>
            <!-- <a class="nav-item nav-link disabled" href="#">Disabled</a> -->
          </div>
        </div>
      </nav>
    <div class="wrapper clearfix">
        <% notes.notes.forEach((note)=>{%>
        <aside class="note-wrap note-yellow">
            <p><%= note.note %></p>
            <a href="#"><%= note.date_added %></a>
        </aside>
        <%})%>
    </div>

    <div>
        <form method="POST" id="noteform" action="/Protected/notes/test/push">
            <input value="" placeholder="Lorem Ipsum Note" name="note" style="margin-left: 2%;">&nbsp;&nbsp;
            <button class="btn  btn-warning" id ="form">ADD NOTE</button>
          </form>
          <!-- <button class="btn  btn-warning" onclick="myFunction()">try</button> -->
    </div>
    <script>
            document.getElementById('form').addEventListener('click',()=>{
                console.log("clicked");
                document.getElementById("noteform").action = "/Protected/notes/"+localStorage.getItem('username')+"/push";
            });
    </script>
    <!-- <script>
        function myFunction() {
            document.getElementById("noteform").action = "/Protected/notes/"+localStorage.getItem('username')+"/push";
        }
        </script> -->
</body>

</html>