<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Englebert' rel='stylesheet' type='text/css'>
    <title>NOTE_TAKEN</title>
    <style>
        * {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        ::-moz-selection {
            background: #c6ff91;
            text-shadow: none;
        }

        ::selection {
            background: #c6ff91;
            text-shadow: none;
        }

        .clearfix:before,
        .clearfix:after {
            content: " ";
            display: table;
        }

        .clearfix:after {
            clear: both;
        }

        .clearfix {
            *zoom: 1;
        }

        body {
            background: url(https://i.imgur.com/2BdQt0g.jpg);
            margin: 0;
            padding: 0;
        }

        .wrapper {
            margin: 60px auto 0 auto;
        }

        /* Note styles */
        .note-wrap {
            width: 235px;
            min-height: 235px;
            padding: 35px;
            margin: 0 22px 44px 22px;
            position: relative;
            font-size: 24px;
            vertical-align: top;
            display: inline-block;
            font-family: Englebert, Arial;
            color: #4b453c;
            background: #f7e999;
            line-height: 34px;
            text-align: center;
            box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
        }

        .note-wrap:before {
            display: block;
            content: "";
            background: rgba(227, 200, 114, 0.40);
            width: 130px;
            height: 28px;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
            border-radius: 6px/18px 0;
            position: absolute;
            top: -13px;
            left: 50px;
            -webkit-transform: rotate(-2deg);
            -moz-transform: rotate(-2deg);
            -o-transform: rotate(-2deg);
            -ms-transform: rotate(-2deg);
            transform: rotate(-2deg);
        }

        .note-wrap a {
            color: #6b824f;
            text-decoration: none;
            font-size: 20px;
            -webkit-transition: all 0.4s ease;
            -moz-transition: all 0.4s ease;
            -o-transition: all 0.4s ease;
            -ms-transition: all 0.4s ease;
            transition: all 0.4s ease;
        }

        .note-wrap a:hover {
            color: #d83a25;
        }

        .note-yellow {
            background: #f7e999;
            -webkit-transform: rotate(2deg);
            -moz-transform: rotate(2deg);
            -o-transform: rotate(2deg);
            -ms-transform: rotate(2deg);
            transform: rotate(2deg);
        }

        .note-blue {
            background: #b9dcf4;
            -webkit-transform: rotate(-2deg);
            -moz-transform: rotate(-2deg);
            -o-transform: rotate(-2deg);
            -ms-transform: rotate(-2deg);
            transform: rotate(-2deg);
        }

        .note-pink {
            background: #ffbda3;
            -webkit-transform: rotate(1deg);
            -moz-transform: rotate(1deg);
            -o-transform: rotate(1deg);
            -ms-transform: rotate(1deg);
            transform: rotate(1deg);
        }

        .note-green {
            background: #caf4b9;
            -webkit-transform: rotate(-1deg);
            -moz-transform: rotate(-1deg);
            -o-transform: rotate(-1deg);
            -ms-transform: rotate(-1deg);
            transform: rotate(-1deg);
        }
    </style>
</head>

<body>
    <div class="wrapper clearfix">
        <% notes.notes.forEach((note)=>{%>
        <aside class="note-wrap note-yellow">
            <p><%= note.note %></p>
            <a href="#"><%= note.date_added %></a>
        </aside>
        <%})%>
    </div>
</body>

</html>